.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin-right: 4%;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

#diceButton {
  background: #EEEEEE;
  margin: 5% auto;
  padding: 1% 1%;
  border-radius: 6%;
  border: green 1px solid;
  font-size: large;
  font-family: 'Indie Flower', cursive
}

#diceButton:hover {
  background: greenyellow;
}